.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper>*{
    padding: 10px;
    margin: 5px;
    flex: 1 100%;
    border-radius: 10px 10px;
}

.header{
    display: flex;
    border: 3px solid rgb(72, 104, 232);
    justify-content: space-between;
    height: 25px;
    background-color: rgba(31, 70, 226, 0.858);
    box-shadow: rgba(23, 21, 17, 0.39) 3px 7px 9px 0px;
    color: orange;
}

.header button{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 7px 9px -4px;
    font-size: 15px;
    background-color: rgba(31, 70, 226, 0.858);
    border-color: rgb(255, 123, 61);
    box-shadow: rgba(23, 21, 17, 0.39) 3px 7px 9px -4px;
    color: white;

}

.header p{
    margin-top: 5px;
    font-weight: bold;
}


.main button{
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(23, 21, 17, 0.39) 3px 7px 9px 0px;
    height: 30px;
    background-color: rgba(31, 70, 226, 0.858);
    border-color: rgb(255, 123, 61);
    color: white;
    margin-left: 40%;
    margin-right: 40%;
}

.main{
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    font-size: 24px;
    border: 3px solid rgb(72, 104, 232);
    border-radius: 10px 10px;
    background-color: rgba(31, 70, 226, 0.858);
    color: orange;
    box-shadow: rgba(23, 21, 17, 0.39) 3px 7px 9px 0px;


}


.first-question p, .second-question p, .third-question p, 
.fourth-question p, .fifth-question p{
    font-size: 25px;
    color: orange;
}

.first-question button, .second-question button, .third-question button, 
.fourth-question button, .fifth-question button{
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    font-size: 20px;
    background-color: rgba(31, 70, 226, 0.858);
    border-radius: 10px 10px;
    border-color: rgb(255, 123, 61);
    box-shadow: rgba(23, 21, 17, 0.39) 3px 7px 9px -4px;
    color: white;
}


.footer{
    display: flex;
    justify-content: center;    
    height: 20px;
    margin-top: 5%;
    font-size: 10px;
    border-radius: 10px 10px;
    border: 2px solid rgb(72, 104, 232);
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgba(31, 70, 226, 0.858);

}

.footer h2{
    margin-top: 2px;
    color: orange;
}


@media all and (max-width:800px){
    .main{
        height: 230px;
        font-size: 15px;
    }
    .main button{
        font-size: 12px;
        height: 40px;
    }
    .footer h2{
        font-size: 8.5px;
    }
    .footer{
        height: 35px;
        margin-left: 45%;
        margin-right: 45%;
    }
    .first-question button, .second-question button, 
    .third-question button, .fourth-question button, 
    .fifth-question button{
        font-size: 15px;

    }
    .first-question p, .second-question p, .third-question p, 
    .fourth-question p, .first-question p, .fifth-question p{
        font-size: 20px;
    }
    .header button{
        font-size: 15px;
    }
}